/* Czcionki

font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;

*/


html{
  height: auto;
  width: auto;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
background: white;
border-top-color: navy;
padding:0;
margin:0;
height: 100%;
}

div {
  display: block;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 100vh;
}

h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,48,150,1);
}

p{
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

/*animacja górny i dolny pasek*/

.top {
  position: fixed;
  float: left;
  width: 100%;
  top: 0;
  height: 300px;
  background: rgb(15,75,199);
  background: linear-gradient(0deg, rgba(15,75,199,1) 23%, rgba(0,48,150,1) 74%);
  z-index: 1;
  animation: topp 0.5s ease-in-out;
  animation-delay: 9s;
  animation-fill-mode: forwards; }

  @keyframes topp {
      from  {}
      to {transform: translateY(-210px)}
    }



.bottom {
  position: fixed;
  float: left;
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, rgba(15,75,199,1) 23%, rgba(0,48,150,1) 74%);
  bottom:0;
  animation: bott 0.5s ease-in-out;
  animation-delay: 9s;
  animation-fill-mode: forwards; }

  @keyframes bott {
      from  {}
      to {transform: translateY(210px)}
    }

/*animacja górny i dolny pasek koniec*/


/* animowana linia + logo */
.row {
  position: relative;
  display: flex;
  height: 33vh;
}

.col {
  position: relative;
  display: flex;
  width: 10vw;
  text-align: center;
  align-items: center;
  justify-content: center
}

.col-middle {

  position: fixed;
  display: flex;
  width: 100%;
  top: 45%;
  left: 65%;
  transform: scale(1.5);
  z-index: 2;
  animation: left-top 1s  linear;
  animation-delay: 8s;
  animation-fill-mode: forwards; }

  @keyframes left-top {
      from  {}
      to   {transform: translateX(-85vw) translateY(-46vh) scale(0.5); filter: invert(1);}
}


.svg{
  margin-right: -79px;
  margin-top: -52px;
  transform: scale(0.62);
  animation: svg 1s ease-out;
  animation-delay: 9s;
  animation-fill-mode: forwards; }

  @keyframes svg {
      from  {opacity: 1;}
      to   {opacity: 0;}
}



.logo{
    background: transparent;
    background-size: contain;
    animation: animate 5s ease-in;
    animation-delay: 4s;
    animation-fill-mode: forwards;

}

@keyframes animate {
    0%    {background: url('png/0.png'); background-size: contain; background-repeat: no-repeat;}
    20%   {background: url('png/1.png'); background-size: contain; background-repeat: no-repeat;}
    35%  {background: url('png/1.png'), url('png/2.png'); background-size: contain; background-repeat: no-repeat;}
    50%  {background: url('png/1.png'), url('png/2.png'), url('png/3.png'); background-size: contain; background-repeat: no-repeat;}
    65%  {background: url('png/1.png'), url('png/2.png'), url('png/3.png'), url('png/5.png'); background-size: contain; background-repeat: no-repeat;}
    80% {background: url('png/1.png'), url('png/2.png'), url('png/3.png'), url('png/4.png'), url('png/5.png'), url('png/6.png'); background-size: contain; background-repeat: no-repeat;}
    95% {background: url('png/1.png'), url('png/2.png'), url('png/3.png'), url('png/4.png'), url('png/5.png'), url('png/6.png'); background-size: contain; background-repeat: no-repeat;}
    100% {background: url('png/7.png'); background-size: contain; background-repeat: no-repeat;}
}


#logo-draw,
#script {
fill:none;
stroke:#1d1c1a;
stroke-miterlimit:10;
stroke-width:2px;
}

.animated-line {
stroke-dasharray: 1200;
animation: line 150s ease-in-out;
}

#script {
stroke-width:3px;
}

@keyframes line {
0% {
  stroke-dashoffset: 1200;
}
3% {
  stroke-dashoffset: 0;
}
}

@keyframes fade-in {
0% {
  opacity: 0;
}
100% {
  opacity: 100;
}
}

/*animowana linia + logo koniec */
