/* Czcionki

font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;

*/
fade-in-left{
  opacity: 0;
  animation: fade-in-left 2s ease-in-out;

}
@keyframes fade-in-left {
   0% {
      opacity: 0;
      transform: translateY(-10px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}



html{
  height: auto;
  width: auto;
  scroll-behavior: smooth;
}

body {
overflow-x: hidden;
background: white;
border-top-color: navy;
padding:0;
margin:0;
height: 100%;
}

div {
  display: block;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 100vh;
}

h1{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgba(0,48,150,1);
}

p{
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

/*animacja górny i dolny pasek*/

.top {
  position: fixed;
  float: left;
  width: 100%;
  top: 0;
  height: 300px;
  background: rgb(15,75,199);
  background: linear-gradient(0deg, rgba(15,75,199,1) 23%, rgba(0,48,150,1) 74%);
  z-index: 1;
  animation: topp 0.5s ease-in-out;
  animation-delay: 9s;
  animation-fill-mode: forwards;
  z-index: 900;}

  @keyframes topp {
      from  {}
      to {transform: translateY(-210px)}
    }



.bottom {
  position: fixed;
  float: left;
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, rgba(15,75,199,1) 23%, rgba(0,48,150,1) 74%);
  bottom:0;
  animation: bott 0.5s ease-in-out;
  animation-delay: 9s;
  animation-fill-mode: forwards;
  z-index: 900; }

  @keyframes bott {
      from  {}
      to {transform: translateY(210px)}
    }

/*animacja górny i dolny pasek koniec*/


/* animowana linia + logo */
.row {
  position: relative;
  display: flex;
  height: 33vh;
}

.col {
  position: relative;
  display: flex;
  width: 10vw;
  text-align: center;
  align-items: center;
  justify-content: center
}

.col-middle {

  position: fixed;
  display: flex;
  width: 100%;
  top: 40%;
  left: 25%;
  zoom: 150%;
  z-index: 2;
  animation: left-top 0.7s  ease-in-out;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  z-index: 5000; }

  @keyframes left-top {
      from  {}
      to   {transform: translateX(-31vw) translateY(-29vh) scale(0.5); filter: invert(1);}
}


.svg{
  margin-right: -79px;
  margin-top: -52px;
  transform: scale(0.62);
  animation: svg 1s ease-out;
  animation-delay: 9s;
  animation-fill-mode: forwards; }

  @keyframes svg {
      from  {opacity: 1;}
      to   {opacity: 0;}
}



.logo{
    background: transparent;
    background-size: contain;
    animation: animate 5s ease-in;
    animation-delay: 4s;
    animation-fill-mode: forwards;


}

@keyframes animate {
    0%    {background: url('png/0.png'); background-size: contain; background-repeat: no-repeat;}
    20%   {background: url('png/1.png'); background-size: contain; background-repeat: no-repeat;}
    35%  {background: url('png/1.png'), url('png/2.png'); background-size: contain; background-repeat: no-repeat;}
    50%  {background: url('png/1.png'), url('png/2.png'), url('png/3.png'); background-size: contain; background-repeat: no-repeat;}
    65%  {background: url('png/1.png'), url('png/2.png'), url('png/3.png'), url('png/5.png'); background-size: contain; background-repeat: no-repeat;}
    80% {background: url('png/1.png'), url('png/2.png'), url('png/3.png'), url('png/4.png'), url('png/5.png'), url('png/6.png'); background-size: contain; background-repeat: no-repeat;}
    95% {background: url('png/1.png'), url('png/2.png'), url('png/3.png'), url('png/4.png'), url('png/5.png'), url('png/6.png'); background-size: contain; background-repeat: no-repeat;}
    100% {background: url('png/7.png'); background-size: contain; background-repeat: no-repeat;}
}


#logo-draw,
#script {
fill:none;
stroke:#1d1c1a;
stroke-miterlimit:10;
stroke-width:2px;
}

.animated-line {
stroke-dasharray: 1200;
animation: line 150s ease-in-out;
}

#script {
stroke-width:3px;
}

@keyframes line {
0% {
  stroke-dashoffset: 1200;
}
3% {
  stroke-dashoffset: 0;
}
}

@keyframes fade-in {
0% {
  opacity: 0;
}
100% {
  opacity: 100;
}
}

/*animowana linia + logo koniec */

/*navbar*/

.navbar {
  position: fixed;
  width: 400px;
  height: 50px;
  top: 0;
  left: 50%;
  margin-left: -150px;
  margin-top: 20px;
  z-index: 6000;
}

li.nav-item {
  list-style:none;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.nav-link {
  height: 60px;
  width: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: blue;
  text-decoration: none;
}

.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar a:hover:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  background: #fff;
  width: 100%;
  left: 0;
}

#fundusze{
  padding-top: 100px;
}

#wsparcie{
  padding-top: 100px;
}

#mapa{
  padding-top: 100px;
}

#polska{
  padding-top: 100px;
}

/*navbar KONIEC*/

/*animacja fundusze*/

.eea {
  position: absolute;
  left: 5vw;
  bottom: 27vh;
}

.euro {
  position: absolute;
  left: 15vw;
  bottom: 22vh;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: green;
  animation: ojro 2s infinite forwards ease-in-out;

}

@keyframes ojro {
  0% {opacity:0;}
  50% {opacity:1;}
  100% {opacity:0; left: 50vw;}
}


.star {
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;

  margin-left: .9em;
  margin-right: .9em;
  margin-bottom: 1.2em;

  border-right:  .3em solid transparent;
  border-bottom: .7em  solid #FC0;
  border-left:   .3em solid transparent;

  /* rozmiar gwiazdek */
  font-size: 20px;}

  .star:before, .star:after {
    content: '';

    display: block;
    width: 0;
    height: 0;

    position: absolute;
    top: .6em;
    left: -1em;

    border-right:  1em solid transparent;
    border-bottom: .7em  solid #FC0;
    border-left:   1em solid transparent;

    transform: rotate(-35deg);
  }

  .star:after {
    transform: rotate(35deg);
  }


.star-position {
  position: absolute;
  right: 25vw;
  bottom: 35vh;
}

/*animacja poszczególnych gwiazdek */
.star1 {
animation: star1-an 0.5s ease-out forwards;}

@keyframes star1-an {
to {transform: translateY(-100px);}
}


.star2 {
animation: star2-an 0.5s ease-out forwards;
}

@keyframes star2-an {
to {transform: translate(45px, -80px)}
}

.star3 {
animation: star3-an 0.5s ease-out forwards;
}

@keyframes star3-an {
to {transform: translate(80px, -45px)}
}

.star4 {
animation: star4-an 0.5s ease-out forwards;
}

@keyframes star4-an {
to {transform: translateX(100px);}
}



.star7 {
animation: star7-an 0.5s ease-out forwards;
}

@keyframes star7-an {
to {transform: translateY(100px);}
}


.star10 {
animation: star10-an 0.5s ease-out forwards;
}

@keyframes star10-an {
to {transform: translateX(-100px);}
}


/*animacja fundusze KONIEC*/


/* animowany wykres słupkowy "poziom wsparcia" */

.slupkowy {
  position: absolute;
    display: block;
  left: 35vw;
}


.legenda {
  position: absolute;
  display: block;
  right: 0;
  margin-top: 20vh;
  margin-right: 70px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}


.circle {

  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-bottom: -33px;
  margin-left: -30px;
}

.circle2 {

  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: blue;
  margin-bottom: -33px;
  margin-left: -30px;
}

.bar-graph .year {
  animation: fade-in-text 2.2s 3s forwards;
  text-align: center;
}

.bar-graph-vertical {
  margin-top: 80px;
  max-width: 350px;
}

.bar-graph-vertical .bar-container {
  float: left;
  height: 350px;
  margin-right: 50px;
  position: relative;
  text-align: center;
  width: 38px;
}

.bar-one {
  z-index: 5;
  text-align: center;
}

.bar-two {
  margin-left: -88px;
position: absolute;
  z-index: 3;
}

.bar-three {
  z-index: 5;
}

.bar-four {
  margin-left: -88px;
position: absolute;
  z-index: 3;
}

.bar-graph-vertical .bar {
  border-radius: 2px;
  bottom: 50px;
  position: absolute;
  width: 50px;
}


.bar-graph-vertical .year {
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
}

.bar-graph-two .bar::after {
  animation: fade-in-text 2.2s 3s forwards;
  color: #fff;
  content: attr(data-percentage);
  font-weight: 700;
  left: 0;
  margin: 0 auto;
  margin-top: -15px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 22px;
  font-family: 'Lato', sans-serif;
}

.bar-graph-two .bar-one .bar {
  background-color: #4b5de3;
  animation: show-bar-one-vertical 1.2s 3s forwards;
}

.bar-graph-two .bar-two .bar {
  background-color: #ff3300;
  animation: show-bar-two-vertical 2s 5s forwards;
}

.bar-graph-two .bar-three .bar {
  background-color: #4b5de3 ;
  animation: show-bar-three-vertical 1.2s 8s forwards;
}

.bar-graph-two .bar-four .bar {
  background-color: #ff3300;
  animation: show-bar-four-vertical 2s 10s forwards;
}

/* Bar Graph Vertical Animations */
@-webkit-keyframes show-bar-one-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 85%;
  }
}

@-webkit-keyframes show-bar-two-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes show-bar-three-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 90%;
  }
}

@-webkit-keyframes show-bar-four-vertical {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes fade-in-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* animowany wykres słupkowy "poziom wsparcia" KONIEC */


/* animowany wykres kołowy */
.tekst_w_kole {
  color:Gray;
  font-family: 'Roboto',sans-serif;
  text-align: center;
  font-size: 25px;
  animation: tabela;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: 4s;
  opacity: 0;

}
.tabela {
  animation: tabela;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
  color:Gray;
  font-size: 25px;
  margin-left: 0;
  margin-right: 0;}

  @keyframes tabela {
    0% {opacity: 0;}
    25% {opacity: 0;}
    100% {opacity: 1;}
}

.circle-chart {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  animation: circle-chart-fill, przezroczystosc;
  animation-duration: 1s, 0.1s;
  transform: rotate(-45deg);
  transform-origin: center;
  animation-direction: reverse, normal;
  animation-fill-mode: forwards, forwards;
  animation-timing-function: ease, linear;
  opacity: 0;
z-index: -1;}

  @keyframes przezroczystosc {
    to {opacity: 1;}
  }



.bulgaria {
  animation-delay: 5s;
}

  .chorwacja {
    animation-delay: 6s;
  }

  .cypr {
    animation-delay: 7s;
  }

  .czechy {
    animation-delay: 8s;
  }

  .estonia {
    animation-delay: 9s;
  }

  .grecja {
    animation-delay: 10s;
}

.wegry {
  animation-delay: 11s;
}

.lotwa {
  animation-delay: 12s;
}

.litwa {
  animation-delay: 13s;
}

.malta {
  animation-delay: 14s;
}

.polska {
  animation-delay: 15s;
}

.portugalia {
  animation-delay: 16s;
}

.rumunia {
  animation-delay: 17s;
}

.slowacja {
  animation-delay: 18s;
}

.slowenia {
  animation-delay: 19s;
}

@keyframes circle-chart-fill {
  to {stroke-dasharray: 0 100;}
}


.centreL{
  margin-top: -30px;
  padding-right: 100px;

}

.centreR{
  padding-top: 15px;
  padding-left: 100px;
}

.centreL p{
  text-align: right;
  line-height: 100px;
}



.col-lr {
  position: relative;
  float: left;
  width: 30%;
  height: 600px;
  vertical-align: middle;
}


.col-chart {
  height: 600px;
  line-height: 50vh;
  width: 39%;
  position: relative;
  float: left;

}

.wskazniki{
  display:block;
  z-index:5000;
  margin-bottom: -865px;
}

.red{
        fill: none;
        stroke: red;
          stroke-width: 5px;
          z-index:5000;
          stroke-dasharray: 1653px;
          stroke-dashoffset: 1653px;
          animation: move-wskaznik 2s linear forwards;
      }
      @keyframes move-wskaznik {
        50%{}
          100% {stroke-dashoffset: 0;}
      }

	.wskaznik{
        fill: none;
        stroke: #d3d3d3;
          stroke-width: 3px;
          z-index:5000;
          stroke-dasharray: 100%;
          stroke-dashoffset: 100%;
          animation-name: move-wskaznik;
          animation-duration: 8s;
          animation-fill-mode: forwards;
          animation-timing-function: ease;

      }


      @keyframes move-wskaznik {
        75%{stroke-dashoffset: 100;}
          100% {stroke-dashoffset: 0;}
      }


 .row-chart {
   position: absolute;
 }


 .suma2 {

   color:Gray;
   font-family: 'Roboto',sans-serif;
 }
 .suma2::after {
   animation-name: counter-suma2;
   animation-fill-mode: forwards;
   animation-duration: 15s;
   animation-delay: 5s;
   animation-timing-function: ease;
   content: "0.0";
 }

 @keyframes counter-suma2 {
   4% {content: "0.1";}
    8% {content: "0.2";}
     12% {content: "0.3";}
      16% {content: "0.4";}
       20% {content: "0.5";}
        24% {content: "0.6";}
         28% {content: "0.7";}
          32% {content: "0.8";}
           36% {content: "0.9";}
            40% {content: "1.0";}
             44% {content: "1.1";}
              48% {content: "1.2";}
               52% {content: "1.3";}
                56% {content: "1.4";}
                 60% {content: "1.5";}
                  64% {content: "1.6";}
                  68% {content: "1.7";}
                   70% {content: "1.8";}
                   72% {content: "1.9";}
                   74% {content: "2.0";}
                   76% {content: "2.1";}
                   80% {content: "2.2";}
                   84% {content: "2.3";}
                   86% {content: "2.4";}
                   90% {content: "2.5";}
                   94% {content: "2.6";}
                   98% {content: "2.7";}
                   100% {content: "2.7";}

 }


 .suma {
   animation: counter-suma 20s 5s forwards alternate ease-in-out;
   counter-reset: num var(--num);
   color:Gray;
   font-family: 'Roboto',sans-serif;
 }
 .suma::after {
   content: counter(num);
 }

 @keyframes counter-suma {
   from {
     --num: 0;
   }
   to {
     --num: 2;
   }
 }






 @property --num {
   syntax: "<integer>";
   initial-value: 0;
   inherits: false;
 }

 .bulg {
   animation: counter-bulg 1s 6s forwards alternate ease-in-out;
   counter-reset: num var(--num);
   color:Gray;
   font-family: 'Roboto',sans-serif;
 }
 .bulg::after {
   content: counter(num);
 }

 @keyframes counter-bulg {
   from {
     --num: 0;
   }
   to {
     --num: 210;
   }
 }

 .chor {
   animation: counter-chor 1s 7s forwards alternate ease-in-out;
   counter-reset: num var(--num);
   color:Gray;
   font-family: 'Roboto',sans-serif;
 }
 .chor::after {
   content: counter(num);
 }

 @keyframes counter-chor {
   from {
     --num: 0;
   }
   to {
     --num: 103;
   }
 }




















/* animowany wykres kołowy KONIEC */


/* animacja EOG */

.labele .labelo .lableg{
  text-align: center;

}

.labele{
    animation: eoge 2s 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 1;
      display: inline-block;
      position: absolute;
      left: 47.5%;
}

@keyframes eoge {
  25% {left: 25%;}
  95% {left: 25%; opacity: 0;}
  100% {opacity: 0;}
}

.labelo{
    animation: eogo 2s 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 1;
      display: inline-block;
      position: absolute;
      left: 50%;
}

@keyframes eogo {
  25% {left: 45%;}
  95% {left: 45%; opacity: 0;}
  100% {opacity: 0;}
}

.labelg{
    animation: eogg 2s 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 1;
      display: inline-block;
      position: absolute;
      left: 52.5%;
}

@keyframes eogg {
  25% {left: 65%;}
  95% {left: 65%; opacity: 0;}
  100% {opacity: 0;}
}

.label2{
    animation: eog2 4s 2s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
      display: inline-block;
}

@keyframes eog2 {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*animacja EOG koniec /*

/* animacja mapa */


.container {
  width: 50%;
  left: 0;
  margin: 0 auto;
}
.st1 {
  fill: #fff;
  stroke: #003399;
    stroke-width: 3px;
    stroke-dasharray: 1653px;
    stroke-dashoffset: 1653px;
    animation: move-st1 2s linear forwards;
}

.st2 {
    fill: #fff;
    stroke: #003300;
    stroke-width: 4px;
    stroke-dasharray: 553px;
    stroke-dashoffset: 553px;
    animation: move-st2 2s linear forwards;
}

.st4 {
  fill: #fff;
  stroke: #003399;
    stroke-width: 5px;
    stroke-dasharray: 253px;
    stroke-dashoffset: 253px;
    animation: move-st4 2s linear forwards;
}

.st0 {
    fill: #fff;
    stroke: #fff;
    stroke-width: 3px;
    animation: move-st0 20s linear forwards;
}

@keyframes move-st1 {
  50%{fill: #fff;}
    100% {fill: #003399; stroke-dashoffset: 0;}
}

@keyframes move-st2 {
  50%{fill: #fff;}
    100% {fill: #339933; stroke-dashoffset: 0;}
}

@keyframes move-st4 {
  50%{fill: #fff;}
    100% {fill: #003399; stroke-dashoffset: 0;}
}


@keyframes move-st0 {
  75%{fill: #fff; stroke:#fff;}
  100%{fill: #e6e6e6; stroke:#e6e6e6;}
}


/* animacja mapa KONIEC */
